/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*/

body {
	font-family: 'Poppins', sans-serif;
	margin: 0 auto;
}

.canvas {
	width: 300px;
	height: 250px;
	margin: 0 auto;
	border: solid 1px lightgrey;
}

.main_content {
	width: 300px;
	height: 170px;
	padding: 0px;
	background-color: lightgrey;
}

.footer_content {
	display: flex;
	flex-direction: row;
	width: 300px;
	height: 80px;
	padding: 20px 0px;
}

.footer_content_left {
	width: 135px;
	padding: 0px 20px;
	font-family: 'Poppins' sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
}

.button_container {
	padding: 5px;
	width: 150px;
	text-align: center;
}

.button_cta {
	width: auto;
	height: 20px;
	border: solid 2px red;
	border-radius: 50px;
	background-color: none;
	color: red;
	text-align: center;
	text-decoration: none;
	font-size: 0.8rem;
	padding: 3px 20px;
	transition-delay: 0.5s;
}

.button_cta:hover {
	background-color: red;
	color: white;
}

/*.tap_area {
	width: 300px;
	height: 250px;
	z-index: 99
	opacity:0%;
}*/

